<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>D:/毕业设计-杨/canteen_recommendation_2.0(1)/canteen_recommendation_2.0/java/.mvn-home/.m2/repository</localRepository>
</settings>
